.footer {
    display: flex;
    margin: 30px 40px 40px;
    justify-content: center;
}

.footer a{
    margin:  0 5px;
    transition: 0.5s;
}

.footer a:hover{
    margin:  0 5px;
    transition: 0.5s;
    transform: scale(1.2);
}

  @media (max-width: 1199.98px) {
    .footer{
        width: 60%;
    }
  }
  @media (max-width: 767.98px) {
    .footer{
        margin: 10px;
    }
  }

